body{
    margin: 0;
    padding: 0;
    height: 100vh;
}

.head{
    width: 100vw;
    height: 25%;
    background-color: #F26B0F;
}

.h,.head{
    height: 25vh;
    position: relative;
}

.t{
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    position: absolute;
    left: 30rem;
    top: 7rem;
    color: #FCC737;
}

.n{
    margin-top: 1rem;
    position: absolute;
    left: 35rem;
    padding: 5px;
    color: #FCC737;
    font-family: 'Courier New', Courier, monospace;
    font-size: 4rem;
    background-color: #000000;
}

.img2{
    position: absolute;
    left: 5rem;
    bottom: 9rem;
	height:100px;
}

.h2{
    height: 50vh;
    display: flex;
    justify-content: space-between;
    padding:5rem;
}

.e1{
    height: 80%;
    width: 12.5%;
    background-color: #E73879;
    border-radius: 2.5rem;
    padding: 1rem;
    font-family: 'Courier New', Courier, monospace;
    margin:1rem;
}

ol,ul{
	margin: 0;
}

input{
	height: 0.7rem;
	width: 7rem;
}

.e2{
	display:flex;
    height: 284.525px;
    width: 37%;
    background-color: #FCC737;
}

.e3{
    height: 125%;
    width: 50%;
    background-color: #FCC737;
    border-radius: 5rem;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 1rem;
    position: relative;
}



.h{
    display: flex;
    justify-content: end;
}

video{
    width: 100%;
    height: 100%;
}

.wrapper {
	display: flex;
    margin-top: 2rem;
}

.stick {
	height: 100%;
	width: 7px;
	background: black;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.flag {
	width: 3.5rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
	height: 50%;
	box-shadow: 0px 0px 90px 1px #989;
	background-color: white;
	position: relative;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}


.container{
	margin-top:1rem;
    display: inline-block;
    height: 100%;
    width: 10em;
    animation-name: car;
    animation-timing-function: linear;
    animation-duration: 5s;
    animation-iteration-count: 1;
}

.top{
    height: 30%;
    width: 60%;
    margin-top: 1rem;
    margin-left: 2rem;
    background-color: black;
}

.m{
    height: 30%;
    width: 100%;
    background-color: black;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: #F26B0F;
    text-align: center;
}

.circle{
    background-color: black;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    position: absolute;
    left: 1rem;
    top: 1.5rem;
}

.c2{
    left: 7rem;
}

.window{
    height: 100%;
    width: 100%;
    display: flex;
    padding: 5px;
    box-sizing: border-box;
}

.white{
    background-color: white;
    margin: 5px;
    height: 100%;
    width: 50%;
}

.road{
    display: flex;
    justify-content: space-between;
    height: 60%;
    width: 45%;
    border-bottom: 7px dashed black;
    margin-top: 3rem;
    margin-right: 3rem;
}


.click1,.click2{
padding: 4px;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  position: relative;
 
  bottom: 10px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  background-color: #FCC737;
}

.click2{
    transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

@keyframes car {
    from{
      transform: translate(0);
    }

    to{
        transform: translate(350px);
    }
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.day{
    border: 1px solid black;
    display: inline-block;
    padding: 1rem;
    font: 1em sans-serif;
}

.day:hover{
 background-color: #F93827;
 color: #16C47F;
}

.days{
    height: 25vh;
    margin: auto;
    width: 45vw;
    position: relative;
    display: grid;
    grid-template-rows: repeat(6,45px);
    grid-template-columns: repeat(7,100px);
}


.body{
    background-color: #7E1891;
	width: 100vw;
	height:105vh;
}

.stars{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 50px;
    font: 1.5rem arial;
}

#setgoal{
    border-radius: 5px;
    border: 0;
    font-size: 0.7rem;
    background-color: #7E1891;
    padding: 0.5rem;
    position: relative;
    bottom: 2px;
    left: 10px;
}

h2{
	font: 1rem 'Courier New', Courier, monospace;
    display: inline-block;
	font-weight: bold
}

#s1{
    color: red;
}

#s2{
    color: yellow;
}

#s3{
    color: green;
}

.reset{
    width: 100%;
    height: 10%;
    position: absolute;
    top: 92%;
    display: flex;
    justify-content: center;
    align-items: start;
}

#Reset{
    background-color: #007bff;
    color: white;
    padding: 0.5rem;
    border-radius: 10px;
    font: 0.9rem sans-serif;
}

.shk-btn{
	top:5rem;
    padding: 0.5rem;
    border-radius: 10px;
    font: 0.7rem sans-serif;
    position: absolute;
    left: 6%;
    animation-name: shake;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0%{
        transform: rotate(20deg);
    }
    75%{
        transform: rotate(-20deg);
    }
}

.hidden{
    display: none;
    position: absolute;
    left: 30%;
    top: 10%;
    height: 22em;
    width: 30%;
    padding: 1rem;
    font: 1rem sans-serif;
    z-index: 1;
    border-radius: 20px;
    background-color: white;
}

.cl{
    display: flex;
    justify-content: center;
}

.cl .close{
    background-color: rgb(187, 32, 32);
    color: white;
    padding: 0.5rem;
    border-radius: 10px;
    font: 1.3rem sans-serif;
}

@media (max-width:431px){
    html{
       overflow-x: hidden;
        height: 100vh;
        width: 100vw;
    }

    .road{
        display: none;
    }

   
    .img2{
        border-radius: 50%;
        height: 125px;
        width: 125px;
       border: 2px solid black;
        left: 8.5rem;
        top: -5rem;
    }
    

   .head,.body{
    width: 430px;
   }

   .t{
    top: 4rem;
    left: 0.6rem;
    font-size: 1rem;
    text-align-last: center;
   }

   .n{
    left: 9rem;
    font-size: large;
   }
   
   .h,.h2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
   }

	.h2{
		background-color: #7E1891
	}
   .e1{
    height: 30%;
    width: 50%;
    border-radius: 2.5rem;
     margin-top: 4rem; 
   }

	ul,ol{
     margin:0.5rem;
	}
   
   .hidden{
    /*  */
    height: 75%;
    width: 65%;
    left: 15%;
   }

   .e2{
    height: 40%;
    width: 100%;
    background-color: #FCC737;
    margin: 1rem 0 1rem 0;
   }

   video{
    height: 100%;
    width: 100%;
   }
  
   .e3{
    height: 55%;
    width: 115%;
    margin: 1rem 0 1rem 0;
   }

   .days{
    height: 40%;
    width: 65%;
	position:absolute;
	margin: 1em 1em 1em 1em;
    display: grid;
    grid-template-rows: repeat(6,25px);
    grid-template-columns: repeat(7,45px);
	left:0;
   }

   .day{
    padding: 1em;
    font: 0.5em sans-serif;
  }

  .stars{ 
    left: 0px;
   }

   #Reset{
	position:absolute;
	   left:8rem;
    padding: 0.2rem;
    font: 1rem sans-serif;
}
	.reset{
    top: 90%;
     }

.shk-btn{
    top: 50%;
    height: 5%;
    left: 35%;
}
}
